
.content{
    height: 88vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content p {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    cursor: default;
}

.content span {
    font-size: 3.7rem;
    color: var(--purple);
    font-weight: bold;
}

.content img {
    height: 500px;
}

.content a {
    text-decoration: none;
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background: var(--purple);
    color: var(--white);
    transition: .5s;
}

.content a:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    scale: 1.1;
}

@media (max-width:768px){
    .content {
        display: flex;
        flex-direction: column;
        padding-block: 10vh 0;
    }
}

@media (max-width:390px){
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around; 
        padding-block: 10vh 0;
        padding-left: 2rem;
        
    }


    .content p{
        font-size: 1.4rem;
    }

    .content span {
        font-size: 1.8rem;
    }

    .content img {
        height: 180px;
    }
}



/* 
  --prymari: #16213e; azul escuro
  --secondary: #0f3460; azul médio
  --terceary: #0f3460; azul leve
  --purple: #533483;
  --black: #f1f1f1;
  --white: #fefefe;
  --gray: #222222;
*/