.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 7vh;
    position: fixed;
    top: 0;
    background-color: var(--prymari);
    z-index: 1;
}

.title {
    font-size: 1.5rem;
    color: var(--white);
    transition: .5s;
}

.headerContainer nav {
    display: flex;
    column-gap: 15px;
}

.headerContainer a {
    color: var(--white);
    text-decoration: none;
    transition: .5s;
    margin-left: 30px;
}

.title:hover,
.headerContainer a:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30px;
        width: 30px;
        cursor: pointer;
        position: relative;
        transition: transform 0.5s ease-in-out;
    }

    .line {
        display: block;
        height: 4px;
        width: 100%;
        background-color: var(--white);
        transition: transform 0.5s ease-in-out;

    }

    .headerContainer .menuHamburguer {
        display: none;
    }

    .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 6vh;
        right: 0;
        background-color: inherit;
        width: 25%;
        gap: 15px;
        padding-block: 20px;
        width: 100%;
        transition: .5s;
    }

    /* .menu.active {
        transform: rotate(180deg);
    } */

    .menu.active .line:nth-child(1) {
        transform: rotate(45deg) translateY(.9rem);
    }

    .menu.active .line:nth-child(2) {
        height: 0;
    }

    .menu.active .line:nth-child(3) {
        transform: rotate(-45deg) translateY(-.8rem)
    }

    /*     .show {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 6vh;
        right: 0;
        background-color: inherit;
        width: 25%;
        gap: 15px;
        padding-block: 20px;
        width: 100%;
    }
    
    .active:nth-child(1) {
        transform: rotate(45deg) translateY(.7rem);
    }

    .active:nth-child(2) {
        height: 0;
    }

    .active:nth-child(2) {
        transform: rotate(135deg) translateY(.7rem);
    } */

}

/*    .disable{
        border: 2px solid red;
    }

    .line {
        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--white);
    }

    .headerContainer nav .disable {
        display: none;
    }

    .disable .line1 {
        transform: rotate(45deg) translateY(.7rem);
    }

    .disable .line2 {
        height: 0;
    }

    .disable .line3 {
        transform: rotate(135deg) translateY(.7rem);
    } */


/* 
  --prymari: #16213e; azul escuro
  --secondary: #0f3460; azul médio
  --terceary: #0f3460; azul leve
  --red: #533483;
  --black: #f1f1f1;
  --white: #fefefe;
  --gray: #222222;
*/