.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 7vh;
    position: fixed;
    top: 0;
    background-color: var(--prymari);
    z-index: 1;
}

.title {
    font-size: 1.5rem;
    color: var(--white);
    transition: .5s;
}

.headerContainer nav {
    display: flex;
    column-gap: 15px;
}

.headerContainer a {
    color: var(--white);
    text-decoration: none;
    transition: .5s;
    margin-left: 30px;
}

.title:hover,
.headerContainer a:hover {
    opacity: 0.8;
}

@media (max-width: 768px){
    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 30px;
        width: 30px;
        cursor: pointer;
    }

    .line {
        display: block;
        height: 4px;
        width: 100%;
        background-color: var(--white);
    }

    .menuHamburguer{
        display: none;
    }
}


/* 
  --prymari: #16213e; azul escuro
  --secondary: #0f3460; azul médio
  --terceary: #0f3460; azul leve
  --red: #533483;
  --black: #f1f1f1;
  --white: #fefefe;
  --gray: #222222;
*/